# Server Configuration
PORT=3000

# AWS S3 Configuration
AWS_REGION=us-east-1
S3_BUCKET=pdf-bucket
AWS_ENDPOINT=http://localhost:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

# URL Expiration (seconds)
UPLOAD_URL_EXPIRY=300
DOWNLOAD_URL_EXPIRY=3600

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE=